.container {
    height: calc(100vh - 50px);
    padding-left: var(--padding-left-presenceSidebar);
    background-color: seashell;
    scroll-snap-align: center;
}

.wrapper {
    padding: 20px 8%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 16px;
    color: var(--title-slide);
    position: relative;
    top: 3px;
}

.lineLg {
    width: 180px;
    border-bottom: 2px solid var(--line-Lg);
    /* animation: stretchLineLg 1.5s linear alternate;
    animation-iteration-count: infinite; */
}

.lineSm {
    width: 60px;
    border-bottom: 2px solid var(--line-Sm);
    /* animation: stretchLineSm 1.5s linear alternate;
    animation-iteration-count: infinite; */
}

/* @keyframes stretchLineLg {
    from {
        width: 140px;
        border-bottom: 2px solid var(--line-Lg);
    }
    to {
        width: 5px;
        border-bottom: 2px solid rgba(255, 230, 5, 0.923);
    }
}

@keyframes stretchLineSm {
    from {
        width: 60px;
        border-bottom: 2px solid var(--line-Sm);
    }
    to {
        width: 5px;
        border-bottom: 2px solid white;
    }
} */

.cards_container {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    /* overflow:hidden; */
    gap: 10px;
    min-width:600px;
    max-width:900px;
    width:calc(100% - 100px);
    height:400px;
}

.card_wrapper {
    position: relative;
    overflow:hidden;
    min-width:60px;
    /* border:0px solid --defaultColor; */
    background-size:auto 120%;
    background-position:center;
    -webkit-box-shadow: 0px 1px 8px -2px #000000; 
    box-shadow: 0px 1px 8px -2px #000000;
    cursor: pointer;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.active {
    flex-grow:10000;
    transform:scale(1);
    max-width:600px;
    margin:0px;
    border-radius:40px;
    background-size:auto 100%;
}

.card_wrapper:not(.active) {
    flex: 1;
    border-radius:30px;
}

.bg1 {
    background-image: url("/images/loopstudiosDesign.jpg");
    background-color: black;
}

.bg2 {
    background-image: url("/images/dashboardDesign.png");
    background-color: black;
}

.bg3 {
    background-image: url("/images/iofDesign.png");
    background-color: black;
}

.info {
    position: absolute;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    bottom: 2%;
    color: whitesmoke;
    background-color: teal;
    border-radius: 9px;
    animation: moveUp 18s linear infinite;
}

.bg1 .info {
    left: -15%;
}
.bg2 .info {
    left: -23%;
}
.bg3 .info {
    left: -21%;
}

@keyframes moveUp {
    from {
        transform: rotate(-90deg) translateX(-150px);
    }
    to {
        transform: rotate(-90deg) translateX(500px);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(-220px);
    }
    to {
        transform: translateX(400px);
    }
}

.info h2 {
    font-weight: 800;
    font-size: 12px;
    margin-right: 5px;
}

.info p {
    font-size: 12px;
    font-weight: 300;
}

.d_none {
    display: none;
}

@media screen and (max-width: 708px){
    .container {
        padding-left: 0;
        max-width: 100vw;
    }
    .wrapper {
        padding: 20px 5%;
        justify-content: space-evenly;
        position: relative;
    }
    .title_container {
        align-items: center;
        position: absolute;
        top: 8vh;
        left: 24%;
    }
    .title {
        font-size: 22px;
    }
    .cards_container {
        flex-direction: column;
        min-height:300px;
        max-height:400px;
        height:calc(100% - 100px);
        width:100%;
        min-width: fit-content;
        max-width: 100vw;
    }
    .active {
        max-width: 100vw;
        max-height: 400px;
        flex-grow: 6;
    }
    .card_wrapper:not(.active) {
        flex: 1;
        border-radius:30px;
        background-size:auto 450%;
    }
    /* .card_wrapper {
        background-size:auto 450%;
    } */
    .lineSm {
        display: none;
    }
    .info {
        animation: moveLeft 15s linear infinite;
    }
    
}